.ylq {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  /*  border: 1px solid #e6e6e6; */
  border-radius: 3px;
  /* background: #FaFaFa; */
  padding: 2px;
  height: 80px;
  margin-bottom: 12px; 
}

#ylq-jianbian {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 2px;
  height: 80px;
  margin-bottom: 18px; 
  background: -webkit-linear-gradient(#85BD47, #63BD4E); /* Safari 5.1 - 6.0 */
  /* background: -o-linear-gradient(r#85BD47, #63BD4E); /* Opera 11.1 - 12.0 */
  /* background: -moz-linear-gradient(#85BD47, #63BD4E); /* Firefox 3.6 - 15 */
  /* background: linear-gradient(r#85BD47, #63BD4E); */
}

.font-pingfang-daohang {
  font-size: 36px;
  color: #494949;
  font-family: 'PingFang','Montserrat-Regular',-apple-system,Helvetica Neue,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.font-pingfang-zhengwen {
  font-size: 30px;
  color: #494949;
  font-family: 'PingFang','Montserrat-Regular',-apple-system,Helvetica Neue,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.font-pingfang-anniu {
  font-size: 28px;
  color: #494949;
  font-family: 'PingFang','Montserrat-Regular',-apple-system,Helvetica Neue,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.font_area span {
  font-size: 14px;
  position: relative;
  float: right;
  text-align: right;
  font-family: 'Montserrat-Light',sans-serif;
}

.pingpai {
  background: url("../assets/title/pingpai.svg") no-repeat center center;
  background-size: 120% 120%;
  width: 100%;
  height:100%;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.yanse {
  background: url("../assets/title/yanse.svg") no-repeat center center;
  background-size: 120% 120%;
  width: 100%;
  height:100%;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.ziti {
  background: url("../assets/title/ziti.svg") no-repeat center center;
  background-size: 120% 120%;
  width: 100%;
  height:100%;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.btn-lvse {
  background-color: #42BD56;
  border: 1px solid #3DAD4F;
}

.error {
  background: url("../assets/untitled folder/error.svg") no-repeat center center;
  background-size: 120% 120%;
  width: 100%;
  height:100%;
  position: relative;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}